.max-width{
    width:100%;
}

.max-height{
    height:100%;
}
.no-padding{
    padding-right: 0px;
    padding-left: 0px;
}

.no-margin{
    margin-right:0px;
    margin-left:0px;
}

.center{
    position: absolute;
    top:50%;
    left:50%;
}

.color-green{
    color: #77DD77;
}

.color-purple{
    color: #b19cd9;
}